@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.main-image {
    background: url('/assets/images/inspire.jpg');
    background-size: cover;
}


.footer {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 350px;
}

.title-main {
    font-family: 'Oswald', sans-serif;
}

.main-content {
    font-family: 'Ubuntu', sans-serif;
}